

<template name="infastructure_activity">


<li style="font-size: 10px;"><div class="uk-badge"><i class="fa fa-anchor" aria-hidden="true"></i>
 {{pin}}</div> | <button><i class="fa fa-trash" aria-hidden="true"></i>
</button></li>

</template>


<template name="infastructure_resource">

<li style="font-size: 10px;"><div class="uk-badge"><i class="fa fa-anchor" aria-hidden="true"></i>
 {{pin}}</div> | <button><i class="fa fa-trash" aria-hidden="true"></i>
</button></li>

</template>


<template name="value_propsition">

<li style="font-size: 10px;"><div class="uk-badge"><i class="fa fa-anchor" aria-hidden="true"></i>
 {{pin}}</div> | <button><i class="fa fa-trash" aria-hidden="true"></i>
</button></li>

</template>

<template name="customer_channel">

<li style="font-size: 10px;"><div class="uk-badge"><i class="fa fa-anchor" aria-hidden="true"></i>
 {{pin}}</div> | <button><i class="fa fa-trash" aria-hidden="true"></i>
</button></li>

</template>


<template name="customer_segment">

<li style="font-size: 10px;"><div class="uk-badge"><i class="fa fa-anchor" aria-hidden="true"></i>
 {{pin}}</div> | <button><i class="fa fa-trash" aria-hidden="true"></i>
</button></li>

</template>


<template name="customer_relationship">

<li style="font-size: 10px;"><div class="uk-badge"><i class="fa fa-anchor" aria-hidden="true"></i>
 {{pin}}</div> | <button><i class="fa fa-trash" aria-hidden="true"></i>
</button></li>

</template>

<template name="finacial_revenue_stream">

<li style="font-size: 10px;"><div class="uk-badge"><i class="fa fa-anchor" aria-hidden="true"></i>
 {{pin}}</div> | <button><i class="fa fa-trash" aria-hidden="true"></i>
</button></li>

</template>

<template name="financial_segment">

<li style="font-size: 10px;"><div class="uk-badge"><i class="fa fa-anchor" aria-hidden="true"></i>
 {{pin}}</div> | <button><i class="fa fa-trash" aria-hidden="true"></i>
</button></li>

</template>